$colorTealSmooth: #DAF5F2;
$colorTealSmoothHalf: rgba(218,245,242,.5);
$colorGreenBase: #2fa84f;
$colorGreenBaseHalf: rgba(47, 168, 79, 0.5);
$colorMainBackground: #f6f6f6;
$colorText: #333a4d;
$colorFeaturesCard: #26262b;